#form-upload{
    margin-left: 400px;
    margin-top: 150px;
    width: 500px;
    height: 200px;
    padding-top: 100px;
    background-color: rgb(137, 143, 137);
    color: rgb(110, 22, 5);
    font-weight: bolder;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

input[type="file"] {
    width: 200px;
    height: 40px;
}

button{
    background-color: darkgreen;
    color: white;
    padding: 10px;
    border: none;
}

button:hover{
    background-color: black;
}